# Vim swap files
*.swp
*.swo

# Python byte code
*.pyc

# Ipython notebooks
.ipynb_checkpoints

# Generated PDF files
*.pdf

# Distribution / packaging
.idea/
venv/
build/
dist/
*.egg-info/

# Specific files
playground.py
